{% extends "base.html" %}

{% block app_content %}
<div class="row">
    <div class="col-sm-8 offset-3" >
        <div class="col-sm-12" id='help_div'>
            
        </div>
        <br>
        <div class="col-sm-12" id='help_div'>
           
        </div>
        <div class="col-sm-12">
            <div class=table-wrapper>
               
            </div>

        </div>
        <div class="col-sm-12" id='help_div'>
    
        </div>
        <div class="col-sm-12" id='help_div'>
            <p id='f'>© </p>
        </div>
        

    </div>
</div>
{% endblock %}